/* Iconos */
.icono-container{
  height: 150px;
  position: relative; 
}

.icono-container img{
  width: 50%;
}

/* Iconos */

/* Negocios */
.negocio-container{
  height: 150px;
  position: relative; 
}
/* Negocios */

.bienvenido-text{
  color: rgb(0, 34, 65);
  font-size: 1.2em;    
}

.seccion-iconos img{
  max-width: 115px;  
}

.seccion-iconos p{
  color: rgb(0, 135, 185);
  font-weight: bold;
}

.image-tag {
  height: 110px;
}

.search-bussiness {
  height: 500px;
  background-color: aqua;
}

.categorie-image{
  height: 110px;
  align-self: center;
}
.has-text-centered{
  justify-content: center;
}