.step-number{
  display: inline;
}

.step-text{
  display: inline;
}

.step-text-container{
  padding: 0 10px;
}

.step{
  padding: 70px 30px;
}

.step p{
  font-size: 1.1em;
}

.step-1{
  background-color: rgb(220, 220, 220);
}

.step-2{
  background-color: rgb(0, 34, 65);
  color: white;
}

.step-3{
  background-color: rgb(31, 121, 162);
  color: white;
}

.step-4{
  background-color: rgb(159, 191, 207);
  color: white;
}

.tag-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mercado-solidario {
  background-color: rgb(230, 230, 250);
  background-image: url("../img/pattern.png");
  background-size: cover;
}

.ic-estado{
  max-height: 170px;
  width: auto;
}
