 {% extends  'core/base.html' %} 

 {% load static %}

 {% block links %}
    <link href="{% static 'core/css/home.css' %}?" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    
{% endblock links %}}

 {% block title %}Inicio{% endblock %}
    

 {% block content %}
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 
 <div class='slider px-6 mb-6'>
    <div class="swiper-container my-6 mx-6">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper ">
        <!-- Slides -->
        <div class="swiper-slide " >
            <figure class="image is-2by1">
                <img src="{% static 'core/img/sld-1.png'%}">
            </figure>
        </div>
        <div class="swiper-slide " >
            <figure class="image is-2by1">
                <img src="{% static 'core/img/sld-2.png'%}">
            </figure>
        </div>
        <div class="swiper-slide " >
            <figure class="image is-2by1">
                <img src="{% static 'core/img/sld1.png'%}">
            </figure>
        </div>
        <div class="swiper-slide " >
            <figure class="image is-2by1">
                <img src="{% static 'core/img/sld3.png'%}">
            </figure>
        </div>
       
    </div>
    

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

   
</div>
 </div>
 

<h1 class='title has-text-link-dark has-text-centered has-text-weight-bold'>¡SÓLO REGISTRATE Y COMIENZA A VENDER!</h1>

<div class='columns'>
    <div class='column '></div>
    <div class='column ' style="background-color: rgb(220, 220, 220);">
        <div class='step-text'>
            <h1 class='title mt-5 ml-3' > 1.</h1>
            <span class='step-1-desc pt-5 mt-3 is-size-6'>Registrate en la página Web.</span>  
        </div>
        <div class='container-img-step'>
            <img class='img-step-1 pt-5 mt-1' src="{% static 'core/img/ic-1.png'%}" alt="">
        </div>
    </div>
    <div class='column' style="background-color: rgb(0, 34, 65);">
        <div class='container-img-step'>
            <img class='img-step-1 pt-1' src="{% static 'core/img/ic-2.png'%}" alt="">
        </div>
        <div class='step-text has-text-white'>
            <h1 class='title mt-5 has-text-white ml-3' > 2.</h1>
            <span class='step-1-desc pt-5 mt-3 is-size-6'>Ingresa los datos de tu negocio.</span>  
        </div>
    </div>
    <div class='column' style="background-color: rgb(31, 121, 162);">
        <div class='step-text'>
            <h1 class='title mt-5 has-text-white ml-3' > 3.</h1>
            <span class='step-3-desc pt-5 mt-3 is-size-6 has-text-white'>Selecciona tu categoría y dános una descripción breve de tu negocio.</span>  
        </div>
        <div class='container-img-step'>
            <img class='img-step-1 pt-1' src="{% static 'core/img/ic-3.png'%}" alt="">
        </div>
    </div>
    <div class='column ' style="background-color: rgb(159, 191, 207);">
        <div class='container-img-step'>
            <img class='img-step-1 pt-1' src="{% static 'core/img/ic-4.png'%}" alt="">
        </div>
        <div class='step-text has-text-white'>
            <h1 class='title  has-text-white ml-3' > 4.</h1>
            <span class='step-3-desc pt-2 mt-1 is-size-6'>Selecciona medios de contacto y formas de pago.</span>  
        </div>
    </div>
    <div class='column'></div>
</div>

<div class='columns mt-5 mx-6 px-6'>
    <div class='column is-1'></div>
    <div class='column has-text-centered'>
        <img class='img-tags' src="{% static 'core/img/ic-consume.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#ConsumeLocal</span>
            <span>de forma solidaria</span>
        </div>
    </div>
     <div class='column has-text-centered'>
        <img class='img-tags' src="{% static 'core/img/ic-registra.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>Registra</span>
            <span>tus negocios favoritos</span>
        </div>
    </div>
     <div class='column has-text-centered'>
        <img class='img-tags' src="{% static 'core/img/ic-quedate.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#QuédateEnCasa</span>
            <span>Compra Solidaria</span>
        </div>
    </div>
    <div class='column is-1'></div>
</div>

<div class='columns mt-6'>
    <div class='column is-1'></div>
    <div class='column has-text-centered'>
         <button class='button is-rounded is-large register has-text-white mx-6 my-6 py-1' style="background-color: rgb(0, 28, 52); height:4.5rem;">
                <div class='button-text '>
                    <a href='market/register'>
                        <span class='is-size-4 has-text-white py-1' >Registra tu negocio <br/> o servicio <strong>¡AQUÍ!</strong></span>
                    </a>
                </div>
        </button>
    </div>
    <div class='column has-text-centered'>
        <button class='button is-rounded is-large consume has-text-white mx-6 my-6 py-1' style="background-color: rgb(0, 135, 185); height:4.5rem;">
            <div class='button-text'>
                <a href='market/search'>
                    <span class='is-size-4 has-text-white py-1'>Consume de Forma <br/> Local y Solidaria <strong>¡AQUÍ!</strong></span>
                </a>
            </div>
        </button>
    </div>
    <div class='column is-1'></div>
       
    
    
</div>

<div class='mercado-solidario'>
    <h1 class='title has-text-centered has-text-link-dark mt-6 pt-6 has-text-weight-semibold is-uppercase'>
        ¿QUÉ ES MERCADO Sonorense? 
    </h1>
    <div class='columns'>
        <div class='column is-3'></div>
        <div class='column is-3'>
            <p class='ml-6'>
                La emergencia sanitaria ha afectado a pequeñas y medianas empresas
                a lo largo de todo el país. Muchas de esas empresas están buscando
                alivio financiero para sobrevivir en los próximos meses y a través de nuestra solidaridad podremos ayudarlas...
            </p>
            <p class='my-5 ml-6'>
               En Mercado Sonorense puedes apoyar a estos negocios a través del consumo local, a domicilio y por adelantado.
            </p>
            <p class='ml-6'>
                Si eres un negocio, registrate y verás lo fácil que es poder dar estos servicios
            </p>
            
        </div>
        <div class='column'>
            <img class='' src="{% static 'core/img/img-1.png'%}" alt="">
        </div>
        <div class='column is-3'></div>
    </div>
    <div class='columns'>
        <div class='column is-3'></div>
         <div class='column has-text-centered'>
            <button class='button is-rounded is-large register has-text-white ml-6 my-5 to-mercado'>
                <div class='button-text '>
                    <a href='market/search'>
                        <span class=' has-text-weight-bold has-text-white'>VER MERCADO</span>
                    </a>
                </div>
            </button>
         </div>
    </div>
</div>

<div class='search-bussiness my-6'>
    <h1 CLASS='title has-text-centered has-text-info-dark mt-6 has-text-weight-bold'>BUSCA LOS NEGOCIOS DE TU LOCALIDAD</h1>
    <div class='columns '>
    <div class='column is-1'></div>
    <div class='column is-10'>
        <div id='map' style="height:500px;"></div>
        <a href='/market/company_list'><button class=' button is-large is-fullwidth mt-4 has-text-white' style="background-color: rgb(0,30,56);">QUIERO BUSCAR UN NEGOCIO</button></a>
    </div>
    <div class='column is-1'></div>
    </div>
</div>

<div class='estados columns mx-6'>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-43.png'%}">
        </figure>
    </div>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-44.png'%}">
        </figure>
    </div>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-45.png'%}">
        </figure>
    </div>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-46.png'%}">
        </figure>
    </div>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-47.png'%}">
        </figure>
    </div>
    <div class='column px-5'>
        <figure class="image is-square">
            <img src="{% static 'core/img/logos-48.png'%}">
        </figure>
    </div>
</div>

<div class='columns'> 
    <div class='column'>
        <figure class="image is-square">
            <img  src="{% static 'core/img/img-estado.png'%}" alt="">
        </figure>
    </div>
    <div class='column has-text-centered'>
        <p CLASS='has-text-info-dark is-size-1 has-text-weight-bold has-text-centered'>
            ¡REGISTRA A TU NEGOCIO FAVORITO Y APÓYALO!
        </p>
        <span CLASS='dark-blue-text  has-text-centered mt-5'>
            80000 <br/>
        </span>
        <span CLASS=' is-size-4 has-text-weight-light has-text-centered'>
            Comercios y Negocios Registrados <br/>
        </span>
        <button class='button is-rounded is-large register has-text-white  my-5 to-register2'>
                <div class='button-text'>
                    <a href='market/register'>
                        <span class=' has-text-weight-bold is-size-3 has-text-white'>¡AQUÍ!</span>
                    </a>
                </div>
            </button>
    </div>
    
</div>


<script>

    function initMap() {
            var hermosillo = {lat: 29.0892, lng: -110.961};
            // The map, centered 
            var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 7, center: hermosillo});
            
            {% for company in companies %}
            var {{company.name}} = new google.maps.Marker({position: {lat:{{company.lat}} , lng:{{company.long}} }, map: map, })
            {% endfor %}
            
            
            
        }
</script>
<script>


    var mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
    loop:true,
    autoplay: {
        delay: 3000,
    },

    // If we need pagination
    pagination: {
        el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
    })
 </script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
    </script>

 {% endblock %}}