 {% extends  'core/base.html' %} 

 {% load static %}

 {% block links %}
    <link href="{% static 'core/css/search.css' %}?" rel="stylesheet">
{% endblock links %}}

 {% block title %}Busqueda{% endblock %}
    

 {% block content %}
 <div class='register-banner pt-0 mt-0 has-text-centered has-text-white'>
    <span class='is-size-3 has-text-weight-light'>
        Registrate es muy fácil 
        <span class='has-text-weight-bold is-italic'>¡AQUÍ!</span>
    </span>
 </div>

 <div class='tag-container mt-5'>
    <div class='tag-item'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-consume.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#ConsumeLocal</span>
            <span>de forma solidaria</span>
        </div>
    </div>
    <div class='tag-item  mx-5 px-3'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-registra.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>Registra</span>
            <span>tus negocios favoritos</span>
        </div>
    </div>
     <div class='tag-item  mx-5 px-3'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-registra.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>Registra</span>
            <span>tus negocios favoritos</span>
        </div>
    </div>
     <div class='tag-item'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-quedate.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#QuédateEnCasa</span>
            <span>Compra Solidaria</span>
        </div>
    </div>
</div>

 {% endblock %}