{% extends  'core/base.html' %}

{% load static %}

{% block links %}
<link href="{% static 'market/css/company_detail.css' %}?" rel="stylesheet">

{% endblock links %}

{% block title %}Negocios{% endblock %}

{% load taggit_templatetags2_tags %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p class="title text-uppercase text-start">{{company.name}}</p>
            <div class="d-flex align-items-center">
                <i class="fas fa-lg fa-map-marker-alt"></i>
                <p class="ml-4 my-0">{{company.street}} #{{company.ext_number}}
                    Col.{{company.colony}} C.P. {{company.postal_code}} | {{company.city}}, Son</p>
            </div>
            <br>
            <div class="d-flex align-items-center">
                <i class=" fas fa-lg fa-phone"></i>
                <p class="ml-4 my-0">{{company.cellphone}}</p>
            </div>
            <br>
            {% if company.email  %}
            <div class="d-flex align-items-center">
                <i class=" fas fa-lg fa-envelope"></i>
                <p class="ml-4 my-0">{{company.email}}</p>
            </div>
            {% endif %}
            <br>
            <div class="row d-flex align-content-center justify-content-center">
                {% for payment in company.payment_method.all %}
                {% if payment.name == 'Efectivo' %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div>
                        <img src="{% static 'market/img/ic-efec.png'%}" alt="">
                        <p class="text-center">Pago en efectio</p>
                    </div>
                </div>
                {% endif %}

                {% if payment.name == 'Tarjeta de débito' %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img src="{% static 'market/img/ic-elec.png'%}" alt="">
                    <p class="text-center">Pago con débito/crédito</p>
                </div>
                {% endif %}
                {% endfor %}
                {% if company.to_home == True %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img class='' src="{% static 'market/img/ic-domi.png'%}" alt="">                              
                    <p class="text-center">Entrega a domicilio</p>
                </div>
                {% endif %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img class='' src="{% static 'market/img/ic-compra.png'%}" alt="">
                    <p class="text-center">Compra Solidaria</p>
                </div>

            </div>


        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="{{company.image.url}}">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="{{company.image.url}}">
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    // Initialize and add the map
    function initMap() {
        var myPlace = {
            lat: {
                {
                    company.lat
                }
            },
            lng: {
                {
                    company.long
                }
            }
        };
        // The map, centered 
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 15,
                center: myPlace
            });
        var marker = new google.maps.Marker({
            position: myPlace,
            map: map
        });
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->

<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9YTgCN-8vKj4OKnRzEWihyNiaXnBDGsk&callback=initMap">
</script>
{% endblock %}