{% extends  'core/base.html' %} 

{% load static %}

{% block links %}
    <link href="{% static 'core/css/search.css' %}" rel="stylesheet">
    
{% endblock links %}}

{% block title %}Registro{% endblock %}
    

{% block content %}
    
    <div class=' has-text-centered my-6'>
        <p class='is-size-1 has-text-weight-bold' style="color: rgb(0,30,56);">¡BIENVENIDO/A!</p>
        <p class='is-size-3 has-text-weight-semibold' style="color: rgb(51,142,185);">Si tienes un local, vendes productos u ofreces servicios</p>
        <p class='is-size-5 has-text-weight-semibold' style="color: rgb(128,128,128);">Te regalamos un espacio virtual para que todo Sonora de conozca</p>
    </div>
    
    <div class='columns'>
        <div class='column is-2'></div>
        <div class='column '>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
    
                <div style="background-color: rgb(51,142,185);">
                    <p class='is-size-3 has-text-weight-semibold has-text-white has-text-centered my-2 py-4' >REGISTRARSE ES MUY SIMPLE</p>
                </div>
                <p class='is-size-5 has-text-weight-bold has-text-right' style="color: rgb(128,128,128);">Los campos marcados con * son obligatorios</p>
                
                <div class='select is-medium is-fullwidth my-3' >{{form.city}}</div>
                <div class='select is-medium is-fullwidth my-3' >{{form.locality}}</div>
                <div class='columns my-3'>
                    {{form.postal_code}} <div class='select is-medium is-fullwidth mr-3'> {{form.colony}}</div>
                </div>
                {{form.street}}
                <p class='has-text-grey-darker mx-2 my-3'>Si no tienes una ubicacón física, ¡Sólo registra tu colonia!</p>
                <div class='columns ml-0 mr-4 my-3'>
                    {{form.ext_number}}{{form.int_number}}
                </div>
                <div style="background-color: rgb(51,142,185);">
                    <p class='is-size-3 has-text-weight-semibold has-text-white has-text-centered my-3 py-4' >CONFIRMA TU UBICACIÓN EN EL MAPA</p>
                </div>
                <div class='columns my-3'>
                    <div class='column is-7 ml-3 ' id='map' style="height:500px;"></div>
                    <div class='column mx-5'>
                        <p class='has-text-centered has-text-weight-bold mt-6 is-size-5'>
                            <label class='checkbox ' >
                            {{form.to_home}}
                            Puedo entregar mi producto o servicio a domicilio
                        </label>
                        </p>
                        <p class='has-text-centered has-text-weight-bold mt-6 is-size-5 '>
                            <label class=' ' >
                            Selecciona la zona en la que te gustaría entregar tu producto o servicio
                            <br/>
                            <div class='columns mt-3'>
                                <div class=column is-4></div>
                                <div class='select is-medium column'>
                                {{form.delivery_options}}
                                </div>
                                <div class=column is-4></div>
                            </div>
                            
                        </label>
                        </p>
                    </div>
                </div>
                <div class='mt-6'>
                    <p class='is-size-5 ml-3 has-text-weight-semibold' style="color: rgb(51,142,185);">Si ya estas inscrito en alguna plataforma, captura la liga o URL</p>
                    {{form.platform}}
                </div>
                <p class='is-size-5 ml-3 my-6 has-text-weight-semibold' style="color: rgb(51,142,185);">Ingresa los datos de tu negocios. Esto ayudará a futuros clientes a contactarte</p>
                <p>{{form.name}}</p>
                <p>{{form.cellphone}}</p>
                <p>{{form.phone}}</p>
                <p>{{form.email}}</p>
                <div style="background-color: rgb(51,142,185);">
                    <p class='is-size-3 has-text-weight-semibold has-text-white has-text-centered my-3 py-4' >DILES A TODOS QUÉ PRODUCTOS O SERVICIOS VENDES</p>
                </div>
                <div class='select is-medium is-fullwidth my-3'>
                    {{form.activity}}
                </div>
                <div class='select is-medium is-fullwidth my-3'>
                    {{form.subactivity}}
                </div>
                {{form.tags}}
                <div style="background-color: rgb(51,142,185);">
                    <p class='is-size-3 has-text-weight-semibold has-text-white has-text-centered my-3 py-4' >FORMAS DE PAGO</p>
                </div>
                <p class='is-size-5 ml-3 my-4 has-text-weight-semibold' style="color: rgb(51,142,185);">Si agregas la información de tus métodos de pago, será más fácil comprarte por adelantado</p>
                <div class=''>
                        {{form.payment_method}}
                </div>

                <p class='is-size-5 ml-3 my-4 has-text-weight-semibold' style="color: rgb(51,142,185);">Sube la foto que más te guste de tu negocio</p>
                {{form.image}}
                

                <p class=' has-text-weight-bold mt-6 is-size-5' style="color: rgb(51,142,185);">
                    <label class='checkbox ' >
                        {{form.let_me_know_more}}
                        Deseo contar un poco más de mi local, negocio o servicio
                    </label>
                </p>

                <p class=' has-text-weight-bold mt-6 is-size-5' style="color: rgb(51,142,185);">
                    <label class='checkbox ' >
                        {{form.join}}
                        Deseo participar en el mercado de consumo solidario
                    </label>
                </p>

                {{form.lat}}
                {{form.long}}
                <div class='has-text-centered'>
                    <button type='submit' class='button is-large is-rounded my-6 has-text-white' style="background-color: rgb(0,30,56);" id='submitBtn'>Registra tu negocio</button>
                </div>
            </form>
            
        </div>
        <div class='column is-2'></div>
    </div>



   


    {% load static %}
    <script src="{% static 'market/js/company_form.js' %}"></script>
   <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
    </script>
    
 {% endblock %}