{% extends  'core/base.html' %} 

{% load static %}

{% block links %}
    <link href="{% static 'market/css/company_form.css' %}?" rel="stylesheet">

   
{% endblock links %}

{% block title %}Registro{% endblock %}
    

{% block content %}

<div class="container-fluid">
    <p class="bienvenido-text">¡BIENVENIDO/A!</p>
    <p class="subtitulo">Si tienes un local donde vendes productos u ofreces servicios</p>
    <p class="texto-gris">Te ofrecemos un espacio virtual para que todo México te conozca</p>

    <br>
    <div class="bloque-texto">
        <p>REGISTRARSE ES MUY SIMPLE</p>
    </div>
    <p class="texto-gris text-end">Los campos marcados con * son obligatorios</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{form.city}}
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                {{form.postal_code}}
            </div>
            <div class="col-lg-6 col-sm-12">
                {{form.colony}}
            </div>
        </div>
        <br>
        {{form.street}}
        <p>Si no tienes una ubicacón física, ¡Sólo registra tu colonia!</p>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                {{form.ext_number}}
            </div>
            <div class="col-lg-6 col-sm-12">
                {{form.int_number}}
            </div>
        </div>
        <br>
        <div class="bloque-texto">
            <p>CONFIRMA TU UBICACIÓN EN EL MAPA</p>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div id='map' style="height:500px;"></div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center">
                <div class="mx-5 my-5">
                    <div class="d-flex justify-content-center">
                        {{form.to_home}}
                        <h5 class="ml-2"><strong>Puedo entregar mi producto o servicio a domicilio</strong></h5>
                    </div>
                    <br>            
                    <br>            
                    <br>            
                    <h5 class="text-center"><strong>Selecciona la zona en la que te gustaría entregar tu producto o servicio</strong></h5>
                    {{form.delivery_options}}
                </div>
            </div>
        </div>
        <br>
        <p class="texto-azul">Si ya estas inscrito en alguna plataforma, captura la liga o URL</p>
        {{form.platform}}
    
        <br>
        <p class="texto-azul">Ingresa los datos de tu negocio. Esto ayudará a futuros clientes a contactarte</p>
        {{form.name}}
        <br>
        {{form.cellphone}}
        <br>
        {{form.phone}}
        <br>
        {{form.email}}
        <br>
        <p class="texto-azul">Inicio de operaciones</p>
        {{form.operation_start}}
        <br>
        <div class="bloque-texto">
            <p>DILES A TODOS QUE PRODUCTOS O SERVICIOS VENDES</p>
        </div>
        <br>
        {{form.activity}}
        <br>
        {{form.subactivity}}
        <br>
        {{form.tags}}
        <br>
        <p class="texto-azul">Puedes ingresar un máximo de 6 imágenes de tus productos para mostrarlos</p>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                {{form.product1}}
            </div>
            <div class="col-lg-4 col-sm-12">
                {{form.product2}}
            </div>
            <div class="col-lg-4 col-sm-12">
                {{form.product3}}
            </div>
            <div class="col-lg-4 col-sm-12">
                {{form.product4}}
            </div>
            <div class="col-lg-4 col-sm-12">
                {{form.product5}}
            </div>
            <div class="col-lg-4 col-sm-12">
                {{form.product6}}
            </div>
        </div>
        <br>
        <div class="bloque-texto">
            <p>FORMAS DE PAGO</p>
        </div>
        <br>
        <p class="texto-azul">Si agregas la información de tus métodos de pago, será más fácil comprarte por adelantado</p>
        {{form.payment_method}}
        <br>
        <p class="texto-azul">Sube la foto que más te guste de tu negocio</p>
        {{form.image}}
        <br>
        <br>
        <div class="d-flex align-items-center">
            {{form.let_me_know_more}}
            <p class="texto-azul ml-3 mb-0">Deseo conocer acerca de convocatorias o apoyos gubernamentales</p>
        </div>
        <br>
        <div class="d-flex align-items-center">
            {{form.join}}
            <p class="texto-azul ml-3 mb-0">Deseo participar en el mercado de consumo solidario</p>
        </div>
        <br>
        <div class="d-flex align-items-center">
            {{form.registerSAT}}
            <p class="texto-azul ml-3 mb-0">Registrado ante el SAT</p>
        </div>
        {{form.lat}}
        {{form.long}}
        <div class="d-flex justify-content-center">
            <button type='submit' class='button btn-azul-fuerte' id='submitBtn'><p>Registra tu negocio</p></button>
        </div>
    </form>


</div>



{% load static %}

<script src="{% static 'market/js/company_form.js' %}?"></script>
<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
</script>

    
 {% endblock %}