{% extends  'core/base.html' %}

{% load static %}

{% block links %}
    <link href="{% static 'market/css/company_list.css' %}?" rel="stylesheet">
{% endblock links %}

{% block title %}Negocios{% endblock %}

{% load taggit_templatetags2_tags %}

{% block content %}
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
</script>

<div class="mercado-banner">
    <p>CONSUME DE FORMA LOCAL Y SOLIDARIA</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div id='map' style="height: 300px"></div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div>
                <h6>SELECCIONA UN PRODUCTO O SERVICIO</h6>
                <select id='productInput' class="form-control">
                    <option>Selecciona ...</option>
                    {% for tag in tags %}
                    <option>{{tag.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <div>
                <h6>SELECCIONA TU MUNICIPIO</h6>
                <select id='cityInput' class="form-control">
                    <option>Selecciona ...</option>
                    {% for city in cities %}
                    {% if city.id != 0 %}
                    <option>{{city.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            

        </div>
    </div>

    <div id='company_list'>
        
            

    </div>

</div>

<script>
    const currentUrl = 'company/';

    const companiesDiv = document.getElementById('company_list');
    const productInput = document.getElementById('productInput');
    const cityInput = document.getElementById('cityInput');

    const companiesArr = [];
    {% for company in companies %}
        const {{company.name}} = {
            name: '{{company.name}}',
            phone: '{{company.cellphone}}',
            address: '{{company.street}} #{{company.ext_number}} Col.{{company.colony}} C.P. {{company.postal_code}} | {{company.city}}, Son',
            payments:[ {% for payment in company.payment_method.all %}
                '{{payment.name}}',
            {% endfor %}],
            delivery: {% if company.to_home == True %} true {% else %} false {% endif %},
            tags: [{% for tag in company.tags.all %} '{{tag.name}}',{% endfor %}],
            imageUrl: '{{company.image.url}}',
            city: '{{company.city}}',
            lat: {{company.lat}},
            lng: {{company.long}},
            id: {{company.id}}
        }
        companiesArr.push({{company.name}})
    {% endfor %}

    console.log(companiesArr)

    companiesDiv.innerHTML =' ';

    var comListHTML =' ';

    var markersPoints = []

    companiesArr.forEach((company) => {
        markersPoints.push({
            lat:company.lat,
            lng: company.lng,
            title: company.name
        })
        comListHTML += `
        <div class="box my-3">
            <a href='${ currentUrl+company.id} '>
                <article class="media">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <img src="${company.imageUrl}" alt="Image">                        
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <p class="empresa">${company.name}</p>
                            <p class="direccion">${company.address}</p>
                            <p class="texto">${company.phone}</p>
                            <p class="texto">${company.tags.join(', ')}</p>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="row">
                                ${company.payments.includes('Efectivo') ? 
                                    `<div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="container-pr">
                                            <img class='icono center' src="{% static 'market/img/ic-efec.png'%}" alt="">
                                        </div>
                                        <p class="texto text-center">Pago en efectivo</p>
                                    </div>`
                                    : ``
                                }
                                ${company.payments.includes('Tarjeta de débito') ? 
                                    `<div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="container-pr">
                                            <img class='icono center' src="{% static 'market/img/ic-elec.png'%}" alt="">
                                        </div>
                                        <p class="texto text-center">Pago con débito/crédito</p>
                                    </div>`
                                    : ``
                                }
                                ${company.delivery ? 
                                    `<div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="container-pr">
                                            <img class='icono center' src="{% static 'market/img/ic-domi.png'%}" alt="">
                                        </div>
                                        <p class="texto text-center">Entrega a domicilio</p>
                                    </div>`
                                    : ``
                                } 
                            </div>
                        </div>
                    </div>
                </article>
            </a>
        </div>
    `
    })


    companiesDiv.innerHTML = comListHTML;


    productInput.addEventListener('change', () =>{
        filterCompanies()
    })
    cityInput.addEventListener('change', () =>{
        filterCompanies()
    })

    function filterCompanies(){
        const productValue = (productInput.options[productInput.selectedIndex].text)
        const cityValue = (cityInput.options[cityInput.selectedIndex].text)

        

        let filteredCompanies = companiesArr.filter(company => {
            console.log(company.name,company.tags.includes(productValue))
            if((company.tags.includes(productValue) || productValue=='Selecciona ...') && (company.city === cityValue || cityValue === 'Selecciona ...')) return company;
        })

        comListHTML=''

        filteredCompanies.forEach((company) => {
            comListHTML += `
            <div class="box my-3">
            <a href='${ currentUrl+company.id} '>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img src="${company.imageUrl}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class='content columns'>
                                <div class=" column is-5">
                                    <p >
                                        <strong style="color: rgb(0,30,56);">${company.name}</strong> 
                                    </p>
                                    <p style="color: rgb(51,142,185);">
                                        ${company.address}
                                    </p>
                                    <p style="color: rgb(0,30,56);">
                                        ${company.phone}
                                    </p>
                                    <p style="color: rgb(0,30,56);">
                                        ${company.tags.join(', ')}
                                    </p>
                                </div>
                                <div class=" column is-7 ">
                                    <div class='columns '>
                                        ${company.payments.includes('Efectivo') ? 
                                            `<div class='column is-3'>
                                                <figure class='image is-96x96 '>
                                                    <img class='' src="{% static 'market/img/ic-efec.png'%}" alt="">
                                                    <span class='has-text-weight-semibold  is-size-7 ' style="color: rgb(0,30,56);">Pago en efectivo</span>
                                                </figure>
                                            </div>`
                                            : ``
                                        }
                                        ${company.payments.includes('Tarjeta de débito') ? 
                                            `<div class='column is-3'>
                                                <figure class="image is-96x96 ">
                                                    <img class='' src="{% static 'market/img/ic-elec.png'%}" alt="">
                                                    <span class='has-text-weight-semibold  is-size-7 ' style="color: rgb(0,30,56);">Pago con débito/crédito</span>
                                                </figure>
                                            </div>`
                                            : ``
                                        }
                                        ${company.delivery ? 
                                            `<div class=" column is-6 has-text-centered">
                                                <figure class="image is-96x96 ">
                                                    <img class='' src="{% static 'market/img/ic-domi.png'%}" alt="">
                                                    <span class='has-text-weight-semibold  is-size-7 ' style="color: rgb(0,30,56);">Entrega a domicilio</span>
                                                </figure>
                                            </div>`
                                            : ``
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    </a>
                </div>
        `
        })

        companiesDiv.innerHTML = comListHTML;

        const filteredMarkers = []

        filteredCompanies.forEach(company => {
            filteredMarkers.push({
                lat:company.lat,
                lng: company.lng,
                title: company.name
            })
        })

        initMap(filteredMarkers)

        
    }

    function initMap(myPlaces) {
        var hermosillo = {lat: 29.0892, lng: -110.961};
        // The map, centered 
        var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 8, center: hermosillo});  
        if(myPlaces){
            const markers = []
            myPlaces.forEach(place =>{
                const {lat,lng,title} = place
                markers.push(new google.maps.Marker({
                    position: {lat,lng},
                    map: map,
                    title
                }))
            })
        }else{
            markersPoints.forEach(place =>{
                const markers = []
                const {lat,lng,title} = place
                markers.push(new google.maps.Marker({
                    position: {lat,lng},
                    map: map,
                    title
                }))
            })
        }      
    }

</script>


{% endblock %}