{% extends  'core/base.html' %} 

{% load static %}

{% block links %}
    <link href="{% static 'core/css/search.css' %}" rel="stylesheet">
    
{% endblock links %}

{% block title %}Busqueda{% endblock %}
    
{% block content %}

<a href="{% url 'register'%}"><button class='btn-largo'>Regístrate es muy fácil <strong><i>¡AQUÍ!</i></strong></button></a>

<div class="container-fluid">
    <!-- Iconos -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="icono-container">
                <img class="center" src="{% static 'core/img/ic-consume.png'%}" alt="">
            </div>
            <div class='tag-text text-center'>
                <strong>#ConsumeLocal</strong>
                <p>de forma solidaria</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="icono-container">
                <img class="center" src="{% static 'core/img/ic-5.png'%}">
            </div>
            <div class='tag-text text-center'>
                <strong>Busca</strong>
                <p>lo que necesites</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="icono-container">
                <img class='center' src="{% static 'core/img/ic-registra.png'%}" alt="">
            </div>
            <div class='tag-text text-center'>
                <strong>Registra</strong>
                <p>tus negocios favoritos</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="icono-container">
                <img class='center' src="{% static 'core/img/ic-quedate.png'%}" alt="">
            </div>
            <div class='tag-text text-center'>
                <strong>#QuédateEnCasa</strong>
                <p>Compra Solidaria</p>
            </div>
        </div>
    </div>
</div>

<!-- Mapa -->
<div class="container-fluid">
    <div id='map' style="height:500px;"></div>
</div>

<a href='/market/company_list'><button class='btn-largo'>QUIERO BUSCAR UN NEGOCIO</button></a>
    
<!-- Negocios -->
<div class="container-fluid seccion-iconos">
    <div class="row">
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-agri.png'%}" alt="">
                </div>
                <p class="text-center">AGRICULTURA, GANADERÍA Y PESCA</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-cons.png'%}" alt="">
                </div>
                <p class="text-center">CONSTRUCCIÓN</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-manu.png'%}" alt="">
                </div>
                <p class="text-center">MANUFACTURA</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-come.png'%}" alt="">
                </div>
                <p class="text-center">COMERCIO</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-revi.png'%}" alt="">
                </div>
                <p class="text-center">REVISTAS Y MEDIOS</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-serv.png'%}" alt="">
                </div>
                <p class="text-center">SERVICIOS</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-limp.png'%}" alt="">
                </div>
                <p class="text-center">LIMPIEZA Y APOYO A LOS NEGOCIOS</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-educ.png'%}" alt="">
                </div>
                <p class="text-center">EDUCACIÓN</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-hote.png'%}" alt="">
                </div>
                <p class="text-center">HOTELES, ALIMENTOS Y BEBIDAS</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="negocio-container">
                    <img class="center" src="{% static 'core/img/ic-salu.png'%}" alt="">
                </div>
                <p class="text-center">SALUD Y ASISTENCIA SOCIAL</p>
            </div>
        </div>
    </div>

</div>

<script>

    function initMap() {
            var hermosillo = {lat: 29.0892, lng: -110.961};
            // The map, centered 
            var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 7, center: hermosillo});
            
            {% for company in companies %}
            var {{company.name}} = new google.maps.Marker({position: {lat:{{company.lat}} , lng:{{company.long}} }, map: map, })
            {% endfor %}
        }
</script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
    </script>

 {% endblock %}