{% extends  'core/base.html' %} 

{% load static %}

{% block links %}
    <link href="{% static 'core/css/search.css' %}" rel="stylesheet">
    
{% endblock links %}}

{% block title %}Busqueda{% endblock %}
    

{% block content %}
<a href='{% url 'register'%}'>
    <div class='register-banner pt-0 mt-0 has-text-centered has-text-white'>
        <span class='is-size-3 has-text-weight-light'>
            Registrate es muy fácil 
            <span class='has-text-weight-bold is-italic has-text-white'>¡AQUÍ!</span>
        </span>
    </div>
</a>

<div class='tag-container mt-5'>
    <div class='tag-item'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-consume.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#ConsumeLocal</span>
            <span>de forma solidaria</span>
        </div>
    </div>
    <div class='tag-item  mx-5 px-3'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-5.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>Busca</span>
            <span>lo que necesites</span>
        </div>
    </div>
    <div class='tag-item  mx-5 px-3'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-registra.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>Registra</span>
            <span>tus negocios favoritos</span>
        </div>
    </div>
    <div class='tag-item'>
        <img class='img-tag image is-128x128' src="{% static 'core/img/ic-quedate.png'%}" alt="">
        <div class='tag-text'>
            <span class='has-text-weight-bold'>#QuédateEnCasa</span>
            <span>Compra Solidaria</span>
        </div>
</div>
</div>

<div class='columns mt-6'>
    <div class='column is-2'></div>
    <div class='column is-8'>
        <div id='map' style="height:500px;"></div>
        <a href='{% url "company_list"%}'><button class=' button is-large is-fullwidth mt-4 has-text-white' style="background-color: rgb(0,30,56);">QUIERO BUSCAR UN NEGOCIO</button>
        </a>
    </div>
    </div>
    <div class='column is-2'></div>
</div>
    


<div class='categories my-6'>
    <div class='categorie-row'>
        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-agri.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>AGRICULTURA, GANADERÍA Y PESCA</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-cons.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>CONSTRUCCIÓN</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-manu.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>MANUFATURA</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-come.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>COMERCIO</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-revi.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>REVISTAS Y MEDIOS</span>
            </div>
        </div>
    </div>

    <div class='categorie-row'>
        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-serv.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>SERVICIOS</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-limp.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>LIMPIEZA Y APOYO A LOS NEGOCIOS</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-educ.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>EDUCACIÓN</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-hote.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>HOTELES, ALIMENTOS Y BEBIDAS</span>
            </div>
        </div>

        <div class='categorie-item mx-6'>
            <img class='categorie-image image is-128x128' src="{% static 'core/img/ic-salu.png'%}" alt="">
            <div class='has-text-centered has-text-weight-semibold has-text-link-dark'>
                <span>SALUD Y ASISTENCIA SOCIAL</span>
            </div>
        </div>
    </div>
</div>
<script>

    function initMap() {
            var hermosillo = {lat: 29.0892, lng: -110.961};
            // The map, centered 
            var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 7, center: hermosillo});
            
            {% for company in companies %}
            var {{company.name}} = new google.maps.Marker({position: {lat:{{company.lat}} , lng:{{company.long}} }, map: map, })
            {% endfor %}
            
            
            
        }
</script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnnkr9OlTHBnfrN1xePBVHJryyZ1fxhs4&callback=initMap">
    </script>

 {% endblock %}