.contact-banner{
    background-color: rgb(0, 34, 65);
    padding: 1.5% 5%;
    width: 100%;
}
  
.contact-banner p{
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
}

.encuesta-contacto h4{
    color: #002241;
    font-weight: bold;
}

.encuesta-contacto hr{
    border-radius: 10px;
    border: 3px solid #002241;
    opacity: 1;
    width: 80px;
}

.contact-icon{
    background-color: rgb(0, 34, 65);
    border-radius: 50%;
    color: white;
    height: 50px;
    width: 50px;
}

.contact-info p{
    color: #8f8f8f;
    margin: 0;

}