{% extends  'core/base.html' %} 

{% load static %}
{% block links %}
    <link href="{% static 'contact/css/contact.css' %}?" rel="stylesheet">
{% endblock links %}

{% block title %}Contacto{% endblock %}

{% block content%}

<div class="contact-banner">
    <p class="text-center">CONTÁCTANOS</p>
</div>

<div class="container-fluid">
    <div class="row encuesta-contacto">
        <div class="col-lg-6 col-sm-12">
            <h4>¿TIENES UNA DUDA?</h4>
            <hr>
            <p>Envíanos todas tus dudas y te responderemos en breve</p>
            {% if 'ok' in request.GET %}
            <div class="notification is-primary ml-2 mt-3">
                Su mensaje se ha enviado correctamente
            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %} 
            
                {{form.name}}
                <br/>
                {{form.email}}
                <br/>
                {{form.content}}
                <div class="container-pr">
                    <button class='button btn-azul-fuerte center' type='submit'><p>ENVIAR</p></button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>INFORMACIÓN DE CONTACTO</h4>
            <hr>
            <br>
            <div class="contact-info">
                <div class="row">
                    <div class="col-sm-2 d-flex justify-content-center">
                        <div class="contact-icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-2x fa-map-marker-alt "></i>
                        </div>
                    </div>
                    <div class="col-sm-10 d-flex align-items-center">
                        <p>{{EIDE.address}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2 d-flex justify-content-center">
                        <div class="contact-icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-lg fa-phone"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 d-flex align-items-center">
                        <p>{{EIDE.phone}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2 d-flex justify-content-center">
                        <div class="contact-icon d-flex align-items-center justify-content-center">
                            <i class="fas fa-lg fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-sm-10 d-flex align-items-center">
                        <p>{{EIDE.email}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{%endblock%}